.stApp{

    background: linear-gradient(135deg,#77b1eb 0%,#d6e8a4 50%,#ebad80 100%);
    min-height:100vh;
    font-family: 'Segoe UI',sans-serif;
}
/* .block-container,
.element-container,
.stMarkdown,
.stVerticalBlock {
    overflow: visible !important;
} */
.card{
    background-color: #efeb6e;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgb(234, 164, 73);
    margin-bottom: 25px;

}

h1,h2,h3{
    color:#0f172a;
}

div[data-tested='metric-container']{
    background-color: #f8fafc;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.prediction-box{
    background: linear-gradient(135deg,#dcfce7,#bbf7d0);
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #14532d;
    margin-top: 15px;
}